.App {
    width: 100vw;
}

div.landing-image {
    background-image: url("bird.jpg");
    background-position: center;
    background-size: cover;
    width: 92vw;
    height: 65vh;
    margin: auto;
}

div.landing-image h1, h3 {
    color: white;
    font-weight: 500;
}

div.landing-image h3 {
    font-weight: 300;
}

div.landing-image section {
    padding-left: 5vw;
    padding-top: 20vh;
    width: 35vw;
}

section.intro {
    margin: 10vh auto;
    height: 40vh;
}

section.intro div.illustration {
    height: 40vh;
    width: 40vw;
    margin-right: 10vw;
    box-shadow: 5px 5px 5px 5px grey;
}

section.intro div.intro-text {
    font-size: 1.5em;
    width: 30vw;
    text-align: justify;
}

section.projects {
    width: 100vw;
    height: 80vh;
    text-align: center;
}

section.projects h1 {
    margin-bottom: 5vh;
}