div.nav-items {
    padding-top: 3vh;
    width: 15vw;
    justify-content: space-between;
}

div.nav-items a {
    text-decoration: none;
    color: black; 
    font-size: 1.7em;
}

div.nav-items a:hover {
    color: #1EAEDB;
}