ul {
    padding-top: 3vh;
    height: 1vh;
}

li {
    list-style: none;
    width: 10vw;
    height: 1vh;
    font-size: 2.0em;
}

li > a {
    text-decoration: none;
    color: black; 
    font-size: 1.0em;
}

li > a:hover {
    font-size: 1.2em;
}