.navbar {
    height: 8vh;
    width: 80vw;
    margin: auto;
    padding: 2vh 5vw 1vh 5vw;
    border-bottom: 1px solid black;
    margin-bottom: 3vh;
    justify-content: space-between;
}

.navbar h1 {
    margin: auto;
    padding-top: 1vh;
}

.navbar h1 > a {
    text-decoration: none;
    color: black;
}

.navbar h1 > a:hover {
    color: #1EAEDB;
}