.content-square {
    width: 25vw;
    margin: auto;
    padding-top: 3vh;
    box-shadow: 5px 5px 5px 5px grey;
}

.content-square:hover {
    transform: scale(1.1);
    transition: ease-in-out 0.3s;
    box-shadow: 8px 8px 8px 8px grey;
}

.content-square > img {
    filter: grayscale(1.0);
    height: 25vh;
    width: 20vw;
    margin: auto;
    object-fit: contain;
}

.content-square > img:hover {
    filter: grayscale(0.0);
}

.content-square-description {
    width: 20vw;
    margin: auto;
    text-align: center;
}

.content-square-description h1 {
    font-size: 4rem;
}

.content-square-description p {
    font-size: 1.7em;
}

.content-square-description h1 > a {
    text-decoration: none;
    color: black;
}

.content-square-description h1 > a:hover {
    color: #1EAEDB;
}